  * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  
  body {
      line-height: 1.6;
      font-family: Lato, "sans-serif";
      z-index: 8;
  }
  
   :root {
      --main-color: crimson;
  }
  
  span {
      color: var(--main-color);
  }
  
  a {
      text-decoration-line: none;
  }
  
  li {
      list-style-type: none;
  }
  
  h1 {
      text-align: center;
      font-size: 2.5rem;
  }
  
  .navbar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background-color: black;
      color: #fff;
      opacity: .8;
      width: 100%;
      height: 90px;
      position: fixed;
      top: 0;
      padding: 0 30px;
  }
  
  .navbar a {
      color: #fff;
      padding: 10px 20px;
      margin: 0 5px;
  }
  
  .navbar ul {
      display: flex;
  }
  
  #home-page {
      background: url('../img/showcase2.jpg') no-repeat center center/cover;
      height: 100vh;
      position: relative;
      color: #fff;
  }
  
  .showcase-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #ffffff;
  }
  
  .showcase-content h1 {
      color: #FFF;
      font-size: 60px;
      font-weight: 300;
      letter-spacing: 3px;
  }
  
  a.fa.fa-angle-down {
      padding: 10px 14px;
      color: #ffffff;
      font-size: 50px;
      margin-top: 50px;
      transition: all 0.5s;
  }
  
  a.fa.fa-angle-down:hover {
      color: crimson;
  }
  
  #home-page::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: .6;
  }
  
  #home-page * {
      z-index: 10;
  }
  
  .navbar a:hover {
      color: crimson;
  }
  
  #about-content {
      display: flex;
      padding: 20px 20px 50px 20px;
      max-width: 1200px;
      margin: 100px 70px;
  }
  
  #about-content .right-content {
      margin-left: 20px;
      text-align: justify;
  }
  
  #about-content .right-content h1 {
      margin-bottom: 10px;
      font-size: 2.5rem;
  }
  
  #about-content .right-content p {
      margin-bottom: 10px;
  }
  
  #about-content .left-content .img {
      position: relative;
      border: 10px solid white;
  }
  
  #about-content .left-content .img::after {
      content: '';
      position: absolute;
      top: 19px;
      left: -33px;
      height: 98%;
      width: 98%;
      border: 7px solid var(--main-color);
      z-index: -1;
  }
  
  .btn {
      display: inline-block;
      color: black;
      padding: 10px 10px;
      font-size: 1.5rem;
      border: 3px solid var(--main-color);
      margin-top: 30px;
      text-align: center;
      transition: .4s ease-in-out;
  }
  
  .btn:hover {
      background-color: var(--main-color);
  }
  
  #services {
      /* margin: 50px 30px 100px 30px; */
      background-color: #F0F0F0;
      padding: 50px;
  }
  
  .contain {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      max-width: 1200px;
  }
  
  .contain h1 {
      text-align: center;
      font-size: 2.5rem;
  }
  
  #icon-container {
      display: flex;
  }
  
  .icon {
      padding: 70px;
      border-radius: 50%;
      background-color: var(--main-color);
      margin: 20px;
  }
  
  .icon:hover {
      transform: rotate(360deg);
      transition: all ease .7s;
  }
  
  .tech-images img {
      width: 75px;
      filter: grayscale(100%);
      margin: 30px;
  }
  
  .tech-images img:hover {
      filter: none;
  }
  
  #techs {
      display: flex;
      flex-wrap: wrap;
      padding-left: 150px;
      max-width: 700px;
  }
  
  #technologies {
      margin: 150px 0;
  }
  
  #technologies-content h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-align: center;
  }
  
  #technologies-content p {
      margin-bottom: 20px;
      text-align: center;
  }
  
  #projects {
      background-color: #F0F0F0;
      padding: 30px;
  }
  
  .project-content h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 20px;
  }
  
  .project-content p {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .projects-container {
      display: flex;
      flex-wrap: wrap;
      margin: 50px;
  }
  
  .projects-container img {
      width: 335px;
      height: 178px;
      object-fit: cover;
      margin-right: 30px;
      box-shadow: 0px 0px 18px 0 #000000;
      transition: .3s ease box-shadow;
  }
  
  .text {
      display: flex;
      justify-content: space-around;
      /* padding: 10px; */
  }
  
  .text i,
  .text p {
      color: #000000;
  }
  
  .text i:hover {
      color: crimson;
  }
  
  #contact {
      margin: 50px;
  }
  
  #contact .boxes-contact {
      display: flex;
  }
  
  #contact .box-contact {
      width: 80%;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      padding: 30px;
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 0px 18px 0 #0000002c;
      transition: .3s ease box-shadow;
  }
  
  #contact .box-contact:hover,
  .projects-container img:hover {
      box-shadow: 0px 0px 6px 0 #0000002c;
  }
  
  .box-contact a,
  .box-contact p,
  .box-contact h2 {
      color: #000000;
  }
  
  #contact-content p {
      text-align: center;
  }
  
  footer {
      display: flex;
      background-color: #222222;
      color: #fff;
      flex-direction: column;
      padding: 30px;
  }
  
  footer .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  footer i {
      text-align: center;
      margin: auto;
      margin-top: 30px;
  }
  
  @media(max-width: 768px) {
      .navbar {
          flex-direction: column;
          height: 120px;
          padding: 20px;
      }
      .navbar a {
          padding: 10px 10px;
          margin: 0 0px;
      }
      #about-content {
          flex-direction: column-reverse;
          text-align: center;
          padding: 100px 20px;
      }
      #about-content .right-content * {
          text-align: center;
      }
      #about-content .right-content a {
          align-items: center;
          margin: 0 auto;
      }
      #about-content .left-content .img {
          position: relative;
      }
      #about-content .left-content .img::after {
          content: '';
          display: none;
      }
      #icon-container {
          display: flex;
          flex-direction: column;
      }
      #contact .boxes-contact {
          display: flex;
          flex-direction: column;
      }
      .logo i {
          display: none;
      }
  }